.Layout-box{
    border: 1px solid grey;
    margin-top: 20px;
    padding: 15px;
}
.header{
    display: flex;
    padding: 0 15px;
    height: 60px;
    justify-content: space-between;
}

.App {
    max-width: 950px;
    margin: 0 auto;
    padding: 15px;
    background-color: #d2c8c8;
}

.logo{
    text-decoration: none;
    font-weight: bold;
    background-color: white;
    padding: 15px;
    border-radius: 20px;
}

.add-btn{
    text-decoration: none;
    border: 1px solid white;
    padding: 10px 20px;
    color: #494646;
    cursor: pointer;
    font-weight: bold;
}

.add-btn:hover{
    color: white;
   border: 2px solid darkslategrey;
    color: darkslategrey;
}