.post-box{
    display: flex;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid darkslategrey;
}
.post-box img{
    display: block;
    width: 80px;
    margin-right: 50px;
}
.post-box a{
    text-decoration: none;
    border: 1px solid white;
    padding: 10px 20px;
    color: #494646;
    cursor: pointer;
    font-weight: bold;
    margin-right: 10px;
}