
.add-post-form{
    max-width: 500px;
    margin: 0 auto;
}
.add-post-form input{
    display: block;
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
}
.add-post-form button{
    text-decoration: none;
    border: 1px solid white;
    padding: 10px 20px;
    color: #494646;
    cursor: pointer;
    font-weight: bold;
    margin-right: 10px;
}